body{
    font-family:  arial,sans-serif;
    background-color: beige;
    margin: 0;
    padding: 20px;
}

h1{
    color: #333;
}

a{
    color: red;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}